.nav-dummy{
    height: 70px;
    background-color: #101D42;
}

.banner {
    height: auto;
    padding: 60px;
    background-color: #101D42;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.banner-left {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.left-scroll {
    position: sticky;
    height: calc(100vh - 110px);
    min-width: 300px;
    max-width: 700px;
    top: 80px;
    margin: 30px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    overflow: auto;
}

.left-scroll h1 {
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #666;
}

.left-scroll h2 {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-left: 25px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #DDD;
    margin-bottom: 15px;
}

.left-scroll h3 {
    padding: 15px;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

.left-scroll hr {
    margin-top: 15px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #DDD;
}

.right-scroll {
    max-width: 1200px;
}

.right-scroll h1{
    margin-top: 60px;
    font-weight: 500;
    font-size: 26px;
}

.right-scroll p {
    color: 333;
    padding: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #555;
}

.right-scroll a {
    color: #1266F1;
    text-decoration: none;
}

.yellow-dash{
    width: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: 0;
    border: 0;
    border-bottom: 6px solid #FFCF00;
}

.collapsible{
    display: block;
}

.rotate-text {
    transform: rotate(180deg);
    transition: all 0.5s ease;
}

@media screen and (max-width: 1020px) {
    .content-body{
        display: block;
    }
    .banner{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .left-scroll {
        position: static;
    }
    .right-scroll {
        padding: 10px;
    }
}